---
component: Navigation
layout: main-layout.html
analytics:
  pageCategory: component
  component: navigation
---

<a href="https://design.atlassian.com/latest/product/components/navigation/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>
<h3>Summary</h3>
<p>Navigation covers simple navigation components, then combines them into horizontal and vertical nav groups, built on a common markup pattern. Commonly uses badges within navigation items.</p>
<p>Navigation patterns include horizontal navigation bars, vertical navigation groups, breadcrumbs and pagination.</p>
<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-navigation"><code>com.atlassian.auiplugin:aui-navigation</code></td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<h4>Horizontal navigation</h4>
<p>Should be placed immediately before <code>.aui-page-panel</code>.</p>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <nav class="aui-navgroup aui-navgroup-horizontal">
            <div class="aui-navgroup-inner">
                <div class="aui-navgroup-primary">
                    <ul class="aui-nav">
                        <li><a href="#">Nav item</a></li>
                        <li class="aui-nav-selected"><a href="#">Selected item</a></li>
                        <li><a href="#">Pull requests <aui-badge>123</aui-badge></a></li>
                        <li><a href="#dropdown2-nav1" aria-owns="dropdown2-nav1" aria-haspopup="true" class="aui-dropdown2-trigger">Dropdown <span class="aui-icon-dropdown"></span></a></li>
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Kitchen sink</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </noscript>
</aui-docs-example>

<h4>Vertical navigation</h4>
<p>Usually placed inside an <code>.aui-page-panel-nav</code> but will expand horizontally to fit any appropriate container element.</p>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <div id="aui-vnav-example" class="aui-flatpack-example">
            <nav class="aui-navgroup aui-navgroup-vertical">
                <div class="aui-navgroup-inner">
                    <ul class="aui-nav __skate">
                        <li class="aui-nav-selected"><a href="http://example.com/">Selected Nav Item</a></li>
                        <li><a href="http://example.com/">Nav item</a></li>
                        <li><a href="http://example.com/">Nav item</a></li>
                    </ul>
                    <ul class="aui-nav __skate">
                        <li><a href="http://example.com/">Nav item</a></li>
                        <li><a href="http://example.com/">Nav item</a></li>
                    </ul>
                    <div class="aui-nav-heading"><strong>Heading</strong></div>
                    <ul class="aui-nav __skate">
                        <li><a href="http://example.com/">Nav item</a></li>
                        <li><a href="http://example.com/">Nav item</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </noscript>
</aui-docs-example>

<h4>Breadcrumbs</h4>
<p>Breadcrumbs are used as a high-level representation of where users have navigated. Users can click the links to go back to previous pages.</p>
<aui-docs-example live-demo>
<noscript is="aui-docs-code" type="text/html">
    <div id="aui-pagination-example" class="aui-flatpack-example">
        <ol class="aui-nav aui-nav-breadcrumbs __skate">
            <li><a href="http://example.com/">Breadcrumbs</a></li>
            <li><a href="http://example.com/">Sub-page</a></li>
            <li class="aui-nav-selected">Direct parent page</li>
        </ol>
    </div>
</noscript>
</aui-docs-example>

<h4>Simple nav</h4>
<p>This element is primarily used in nav groups or with a modifier class, but can be used by itself.</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <nav class="aui-header">
            <ul class="aui-nav">
                <li><a href="http://example.com/">Nav item</a></li>
                <li class="aui-nav-selected"><a href="http://example.com/">Selected item</a></li>
                <li><a href="http://example.com/">Item with badge <aui-badge>123</aui-badge></a></li>
                <li><a href="http://example.com/">Kitchen Sink</a></li>
            </ul>
        </nav>
    </noscript>
</aui-docs-example>

<h4>Pagination</h4>
<p>Pagination is used to split content across multiple pages.</p>
<p>Note: the current page is set to <code>aui-nav-selected</code> and should not be a link.</p>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <ol class="aui-nav aui-nav-pagination">
            <li class="aui-nav-first"><a href="#">First</a></li>
            <li class="aui-nav-previous"><a href="#">Prev</a></li>
            <li><a href="http://example.com/">1</a></li>
            <li class="aui-nav-selected">2</li>
            <li><a href="http://example.com/">3</a></li>
            <li class="aui-nav-truncation"><a href="http://example.com/" id="pagination-truncation">&hellip;</a></li>
            <li><a href="http://example.com/">998</a></li>
            <li><a href="http://example.com/">999</a></li>
            <li class="aui-nav-next"><a href="#">Next</a></li>
            <li class="aui-nav-last"><a href="#">Last</a></li>
        </ol>
    </noscript>
</aui-docs-example>

<h4>Navgroup headers</h4>
<p>Navgroups are placed before nav UL elements and can have headers:</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-nav-heading"><strong>Heading</strong></div>
        <ul class="aui-nav">
            <li>...</li>
            <li>...</li>
            <li>...</li>
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>
    </noscript>
</aui-docs-example>


<h4>Split horizontal nav</h4>
<p>In a horizontal nav group, nav items placed in a primary nav group <code>aui-nav-primary</code> are placed to the left, and secondary to the right. These divs currently have no effect in vertical nav but can be included for consistency. A common use case for horizontal navigation is to have most items on the left and a small number of items on the right (usually just one).</p>
<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <nav class="aui-navgroup aui-navgroup-horizontal">
            <div class="aui-navgroup-inner">
                <div class="aui-navgroup-primary">
                    <div class="aui-nav-heading"><strong>Heading</strong></div>
                    <ul class="aui-nav">
                        <li><a href="#">Nav item</a></li>
                        <li class="aui-nav-selected"><a href="#">Selected item</a></li>
                        <li><a href="#">Pull Requests <aui-badge>123</aui-badge></a></li>
                        <li><a href="#dropdown2-nav1" aria-owns="dropdown2-nav1" aria-haspopup="true" class="aui-dropdown2-trigger">Dropdown <span class="aui-icon-dropdown"></span></a></li>
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Kitchen Sink</a></li>
                    </ul>
                </div>
                <div class="aui-navgroup-secondary">
                    <div class="aui-nav-heading"><strong>Heading</strong></div>
                    <ul class="aui-nav">
                        <li><a href="#dropdown2-nav1" aria-owns="dropdown2-nav1" aria-haspopup="true" class="aui-dropdown2-trigger"><span class="aui-icon aui-icon-small aui-iconfont-configure">Configure</span></a></li>
                    </ul>
                </div>
            </div>
    </noscript>
</aui-docs-example>

<h4>Actions list</h4>
<p>Use the action list to list actions at the bottom of a message:</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-message aui-message-error">
            <p class="title">
                <strong>Error!</strong>
            </p>
            <p>And this is just content in a Default message.</p>
            <ul class="aui-nav-actions-list">
                <li><a href="#">Action 1</a></li>
                <li><a href="#">Action 2</a></li>
                <li><a href="#">Action 3</a></li>
            </ul>
        </div>
    </noscript>
</aui-docs-example>
