/* CodeMirror theme */
/* AUI-4074: Copied from https://stash.atlassian.com/projects/STASH/repos/stash/browse/webapp/default/src/main/webapp/static/bitbucket/internal/feature/file-content/stash-codemirror */

#syntax-highlight-colors {
    .slate() { color: #4a6785; }
    .brown() { color: #815b3a; }
    .red() { color: #C03E32; }
    .blue() { color: #336EA9; }
    .green() { color: #127B27; }
    .medium-grey() { color: #696969; }
    .brown() { color: #815b3a; }
    .mauve() { color: #8F5D66; }
    .bright-pink() { color: #B34457; }
    .charcoal() { color: #333; }
}

.cm-s-stash-default {
    .cm-variable-2,
    .cm-variable-3,
    .cm-operator,
    .cm-tag.cm-bracket {
        color: inherit;
    }

    .cm-variable,
    .cm-tag,
    .cm-header { #syntax-highlight-colors.slate(); }

    .cm-bracket,
    .cm-keyword { #syntax-highlight-colors.brown(); }

    .cm-string,
    .cm-string-2,
    .cm-atom,
    .cm-quote { #syntax-highlight-colors.red(); }

    .cm-attribute,
    .cm-builtin,
    .cm-def,
    .cm-property,
    .cm-qualifier,
    .cm-link { #syntax-highlight-colors.blue(); }

    .cm-number { #syntax-highlight-colors.green(); }


    .cm-comment { #syntax-highlight-colors.medium-grey(); }

    .cm-meta  { #syntax-highlight-colors.bright-pink(); }

    .cm-header, .cm-strong {font-weight: bold;}
    .cm-em {font-style: italic;}
    .cm-link {text-decoration: underline;}
    .cm-strikethrough {text-decoration: line-through;}

    /*  AUI-4074 Modification here - we don't want to show any error styling */
    /* .cm-error {color: #f00;} */
    .cm-invalidchar {color: #f00;}
    .cm-negative {color: #d44;}
    .cm-positive {color: #292;}

    // Don't gray out the text when syntax-highlighting is enabled.
    // BrettF thinks the line number color and lack of icon is good enough.
    .diff-view.text-view & .expanded pre {
        color: inherit;
    }
}
